[submodule "method-invoke"]
	path = method-invoke
	url = git@github.com:CharaVerKys/method-invoke.git
[submodule "asio"]
	path = asio
	url = https://github.com/chriskohlhoff/asio.git
[submodule "json"]
	path = json
	url = https://github.com/nlohmann/json.git
[submodule "atomic_queue"]
	path = atomic_queue
	url = https://github.com/max0x7ba/atomic_queue.git
